{% extends "FormerStudentsBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block content %}
<div class='container'>
  <div class='bs-docs-section'>
    <div class ='row'>
      <div class='col-lg-6'>
        <div class='panel panel-success'>
          <div class='panel-heading'>
            Inscription - Etudiant
          </div>
          <div class='panel-body'>
          {{ form_start(form, { 'attr' : { 'class' : 'form-horizontal'}})}}
            {{ form_errors(form) }}
            <fieldset>
              <legend>Informations personnels</legend>

              <div class="form-group">
                {{ form_label(form.firstName, 'Prénom', { 'label_attr' : { 'class' : 'col-lg-5 control-label' }} )}}
                {{ form_errors(form.firstName) }}
                <div class="col-lg-7">
                  {{ form_widget(form.firstName, { 'attr' : { 'class' : 'form-control'}})}}
                </div>
              </div>

              <div class="form-group">
                {{ form_label(form.lastName, 'Nom', { 'label_attr' : { 'class' : 'col-lg-5 control-label' }} )}}
                <div class="col-lg-7">
                  {{ form_widget(form.lastName, { 'attr' : { 'class' : 'form-control' }})}}
                </div>
              </div>


              <div class="form-group">
                {{ form_label(form.civility, 'Sexe', { 'label_attr' : { 'class' : 'col-lg-5 control-label' }} )}}
                <div class="col-lg-7">
                  {{ form_widget(form.civility, { 'attr' : { 'class' : 'form-control' }})}}
                </div>
              </div>

              <div class="form-group">
                {{ form_label(form.studySector, 'Domaine', { 'label_attr' : { 'class' : 'col-lg-5 control-label' }} )}}
                <div class="col-lg-7">
                  {{ form_widget(form.studySector, { 'attr' : { 'class' : 'form-control' }})}}
                </div>
              </div>

              <div class="form-group">
                {{ form_label(form.graduationYear, 'Année d\'obtention du bac', { 'label_attr' : { 'class' : 'col-lg-5 control-label' }} )}}
                <div class="col-lg-7">
                  {{ form_widget(form.graduationYear, { 'attr' : { 'class' : 'form-control' }})}}
                </div>
              </div>

              <legend>Université</legend>
              <div class="form-group">
                {{ form_label(form.university.name, 'Nom', { 'label_attr' : { 'class' : 'col-lg-5 control-label' }} )}}
                <div class="col-lg-7">
                  {{ form_widget(form.university.name, { 'attr' : { 'class' : 'form-control' }})}}
                </div>
              </div>

               <div class="form-group">
                {{ form_label(form.university.country, 'Pays', { 'label_attr' : { 'class' : 'col-lg-5 control-label' }} )}}
                <div class="col-lg-7">
                  {{ form_widget(form.university.country, { 'attr' : { 'class' : 'form-control' }})}}
                </div>
              </div>

              <div class="form-group">
                {{ form_label(form.university.city, 'Ville', { 'label_attr' : { 'class' : 'col-lg-5 control-label' }} )}}
                <div class="col-lg-7">
                  {{ form_widget(form.university.city, { 'attr' : { 'class' : 'form-control' }})}}
                </div>
              </div>
              <legend>Informations de connexion</legend>
              <div class="form-group">
                {{ form_label(form.email, 'E-mail', { 'label_attr' : { 'class' : 'col-lg-5 control-label' }} )}}
                <div class="col-lg-7">
                  {{ form_widget(form.email, { 'attr' : { 'class' : 'form-control' }})}}
                </div>
              </div>

              <div class="form-group">
                {{ form_label(form.username, 'Pseudo', { 'label_attr' : { 'class' : 'col-lg-5 control-label' }} )}}
                <div class="col-lg-7">
                  {{ form_widget(form.username, { 'attr' : { 'class' : 'form-control' }})}}
                </div>
              </div>

              <div class="form-group">
                {{ form_label(form.plainPassword.first, 'Mot de passe', { 'label_attr' : { 'class' : 'col-lg-5 control-label' }} )}}
                <div class="col-lg-7">
                  {{ form_widget(form.plainPassword.first, { 'attr' : { 'class' : 'form-control' }})}}
                </div>
              </div>

              <div class="form-group">
                {{ form_label(form.plainPassword.second, 'Confirmer le Mot de passe', { 'label_attr' : { 'class' : 'col-lg-5 control-label' }} )}}
                <div class="col-lg-7">
                  {{ form_widget(form.plainPassword.second, { 'attr' : { 'class' : 'form-control' }})}}
                </div>
              </div>

              <div class="col-lg-6 text-center">
                {{ form_widget(form.save,{'label' :  'S\'inscrire', 'attr' : {'class' : 'col-lg-6 btn btn-primary' }} )}}
              </div>

            </fieldset>
          {{ form_rest(form)}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
