<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Plateforme d'entraide{% endblock %}</title>

    {# On charge le CSS de bootstrap depuis le site directement #}
    {% block css %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" type="text/css"/>
    {% endblock %}
</head>

<body>
  {% block nav %}
  <nav id='nav' class="nav-tabs.nav-justified" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand fa-ul" href="#">ZarzisStudy</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ path('former_students_home')}}" class='fa-lg'>Accueil<span class="sr-only">(current)</span></a></li>
        {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <li><a href="{{ path('fos_user_registration_register')}}" class='fa-lg'>Inscription</a></li>
        {% endif %}
        <li><a href="{{ path('former_students_list')}}" class='fa-lg'>Les anciens</a></li>
        <li><a href="{{ path('former_students_documentation')}}" class='fa-lg'>Documentation</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <li><a href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-off"></i> Déconnexion</a></li>
        {% else %}
          <li><a href="{{ path('fos_user_security_login') }}"><i class="glyphicon glyphicon-off"></i> Connexion</a></li>
        {% endif %}

      </ul>
    </div><!-- /.navbar-collapse -->

  </nav>
  {% endblock %}

  {% block head %}
  <div id='head' class="jumbotron">
    <div class="container">
        <h1>Zarzis Study</h1>
        <p>
            Le chemin vers l'excellence
        </p>
    </div>
  </div>
  {% endblock %}

  <section class='content'>
    {% block content %}
    {% endblock %}
  </section>
  <hr>
  {% block footer %}
  <footer class='container'>
    <p class='text-muted credit'>Copyright {{ 'now'|date('Y') }} and beyond.</p>
  </footer>
  {% endblock %}
  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}

</body>

</html>
